// COLORS:
$color-primary           : #44bd32;
$color-primary-tint-1    : #8fd784;
$color-primary-tint-2    : #ecf8eb;
$color-primary-shade-1   : #308423;
$color-primary-shade-2   : #1b4c14;

$color-secondary         : #ff7700;
$color-secondary-tint-1  : #ffbb80;
$color-secondary-tint-2  : #fff1e6;
$color-secondary-shade-1 : #b35300;
$color-secondary-shade-2 : #4c2400;

$color-white             : #fff;
$color-grey-light        : #eee;
$color-grey              : #495057;
$color-grey-dark         : #33383d;
$color-black             : #000;

$color-red               : #c92a2a;
$color-green             : #007117;
$color-blue              : #1864ab;
$color-yellow            : #af8600;
$color-pink              : #862e9c;


// SPACES:
$space-extremely-small   : .6rem;
$space-very-small        : 1.2rem;
$space-small             : 1.6rem;
$space-medium-small      : 2.4rem;
$space-medium            : 3.2rem;
$space-medium-large      : 4.8rem;
$space-large             : 6.4rem;
$space-very-large        : 9.6rem;
$space-extremely-large   : 12.8rem;

// SIZES:
$size-extremely-small    : 1rem;
$size-very-small         : 1.2rem;
$size-small              : 1.4rem;
$size-medium-small       : 1.6rem;
$size-medium             : 2rem;
$size-medium-large       : 2.4rem;
$size-large              : 3.2rem;
$size-very-large         : 4.8rem;
$size-extremely-large    : 6.4rem;
